<% include header %>
<div class='container text-block text-center'>
	<div class='row'>
		<h3>About the creator</h3>
		<p>Brian Van Winkle is a fan of beer, classical music, and web development. He probably likes other things too. This is his first app so be gentle. Contact him at <a href='MAILTO:bivdub@gmail.com'>bivdub@gmail.com</a></p>
	</div>
	<div class='row'>
		<h3>Thanks!</h3>
		<p>Brian would like to acknowledge the following sources for providing resources needed to build the site:</p>
		<h4>Beer info provided by:</h4>
		<a href='http://www.brewerydb.com'><img src='pics/BreweryDB.png' class='about-banner'></a>
		<h4>Background provided by:</h4>
		<h3><a href='http://subtlepatterns.com'>Subtlepatterns.com</a></h3>
	</div>
</div>

<% include footer %>