<br><br>
<footer class='footer'>
	<div class='text-center'>
		<p class='foot'>&copy 2014 Brian Van Winkle&nbsp&middot</p>
		<a href='/about' class='foot'>about&nbsp&middot</a>
		<p class='foot'>This product uses the BreweryDB API but is not endorsed or certified by PintLabs.</p>	
	</div>
</footer>
</body>

</html>