<% include header %>

<div class="container text-block">
	<div class="row text-center">
		<h1>Welcome to Brewsr!</h1>
		<img src="/pics/brewsr_logo.png" height='120' width='120'>
	</div>
	<div class="row text-center" id="introText">
		<h4>The purpose of this site is to allow you to catalogue the beers you drink and let you rate them, with a twist. Once you have six beers in your list you can go to Challenge mode and pit them against each other in a series of one vs. one matchups where you decide the which beer is the winner!. We then provide you with a list of your favorite beers, as you've ranked them, as well as lists and suggestions based on your preferences. Sign up now, and start your personal beer competition today!
		</h4>
	</div>
	<br><br><br>
	<div class="row text-center">
		<a href="/signup" class="btn btn-default" id="frontButtons">Sign Up!</a>
		<a href="/logon" class="btn btn-default" id="frontButtons">Log On!</a>
	</div>
<% include footer %>