<% include header %>

<div class='container text-block text-center'>
	<h1>Log On</h1>
		<form class='form' method='post' action='/logon'>
		<h3>User Name:&nbsp</h3>
		<input type='text' class='text-form form' name='username' placeholder='Enter User Name'>
		<br>
		<h3>Password:&nbsp</h3>
		<input type='password' class='text-form form' name='password' placeholder='Enter Password'>
		<br><br>
		<input type='submit' name='Sign Up' class='btn btn-lg btn-default'>
	</form>
	<div class="row">
		<h3>Not already a member?</h3> 
		<a href="/signup" class="btn btn-lg btn-default" id="frontButtons">Sign Up!</a>
	</div>
</div>
<% include footer %>