<% include header %>

<div class='container text-block text-center'>
	<h1>Sign Up</h1>
	<h4>all fields required</h4>
	<form class='form' method='post' action='/signup'>
		<h3>User Name:&nbsp</h3>
		<input type='text' class='form' name='username' placeholder='Choose a User Name'>
		<br><br>
		<h3>E-mail:&nbsp</h3>
		<input type='text' class='form' name='email' placeholder='Enter your email'>
		<br><br>
		<h3>choose password:&nbsp</h3>
		<input type='password' class='form' name='password' placeholder='choose a password'>
		<br><br>
		<h3>confirm password:&nbsp</h3>
		<input type='password' class='form' name='password2' placeholder='confirm password'>
		<br><br>
		<input type='submit' name='Sign Up' class='btn btn-default'>
	</form>

<% include footer %>