<% include ../header %>
<div class="container text-center text-block">
	<h2>Search Results</h2>
	<table class="table table-bordered text-center">
		<thead>
			<tr>
				<th>Add</th>
				<th>Beer Info</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<data.length; i++) { %>
				<tr>
					<td>
						<!-- <a href='#' data-id="" -->
					</td>
					<td><a href='/beer/<%=data[i].id%>'><%=data[i].name%></a>
					</td>
				</tr>
			<%}%>
		</tbody>
	</table>
</div>	

<% include ../footer %>