<% include ../header %>

<div class ="container text-center text-block">
	<h1>BATTLE MODE!</h1>
	<h4>This is it! Where your beers compete! Simply click start below and you will be presented with 5 rounds of one on one competition where you select the winner from your list of beers. Rankings are based on an Elo system so the beers that compete better will rise to the top over time, so the more you challenge the more accurate your ratings!</h4>
	<br><br>
	<a href='/battle/round' class='btn btn-default btn-lg' id='battleButton'>BATTLE!</a>

<% include ../footer %>