<% include ../header %>

<div class='text-block text-center container'>
	<div class='row'>
		<h1><%=data.username%>'s Rankings</h1>
	</div>
	<% if (data.beer.length === 0) {%>
		<h1> Drink Some Beers </h1>
	<% } else { %>	
	<table class="table table-bordered text-center table-striped">
		<thead>
			<tr>
				<th class='text-center'>ranking</th>
				<th class='text-center'>Beer Name</th>
			</tr>
		</thead>
		<tbody>
		<% for(var i=0; i<data.beer.length; i++) { %>
			<tr>
				<td>
					<%= i+1 %>
				</td>
				<td>
					<a href='/beer/<%= data.beer[i].dbid %>'><%= data.beer[i].dataValues.name %></a>
				</td>
			</tr>
		<% } %>
		</tbody>
	</table>
	<% } %>
</div>
<% include ../footer %>