<% include ../header %>

<div class='text-block text-center container'>
	<div class='row'>
		<h1><%=data.username%>'s Rankings</h1>
	</div>
	<table class="table table-bordered text-center">
		<thead>
			<tr>
				<th>ranking</th>
				<th>Beer Name</th>
			</tr>
		</thead>
		<tbody>
		<% for(var i=0; i<data.beer.length; i++) { %>
			<tr>
				<td>
					<%= i+1 %>
				</td>
				<td>
					<%= data.beer[i].dataValues.name %>
				</td>
			</tr>
		<% } %>
		</tbody>
	</table>
</div>
<% include ../footer %>